<mat-toolbar color="primary" *ngIf="!isLoggedIn">
    <span>Smart Contact Manager</span>
    <span class="example-spacer"></span>
    <button mat-button>
        <a [routerLink]="'home'">Home</a>
    </button>
    <button mat-button>
        <a [routerLink]="'/about'">About</a>
    </button>
    <button mat-button>
        <a [routerLink]="'/login'">Login</a>
    </button>
    <button mat-button>
        <a [routerLink]="'/signup'">Signup</a>
    </button>
  </mat-toolbar>
  <mat-toolbar color="primary" *ngIf="isLoggedIn">
    <span>Smart Contact Manager</span>
    <span class="example-spacer"></span>
    <button mat-button>
        {{userdata.name}}
    </button>
    <button mat-button (click)="logout()">
        Logout
    </button>
  </mat-toolbar>
  