<mat-card>
    <mat-card-header class="text-center">
        <mat-card-title>
            <h1>Add Contact</h1>
        </mat-card-title>
    </mat-card-header>
   <mat-card-content>
    <form>
        <!-- full Name  -->
        <div>
            <mat-icon class="icon">add</mat-icon>
            <mat-form-field class="example-full-width">
                <mat-label>
                    Full Name
                </mat-label>
                <input matInput type="text" placeholder="Enter Full Name" required>
            </mat-form-field>
        </div>
        <!-- NickName  -->
        <div>
            <mat-icon class="icon">account_circle</mat-icon>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        Nick Name
                    </mat-label>
                    <input matInput type="text" placeholder="Enter Nick Name" required>
                </mat-form-field>
        </div>
    
        <!-- Email  -->
    
        <div>
            <mat-icon class="icon">email</mat-icon>
            <mat-form-field class="example-full-width">
                <mat-label>
                    Email
                </mat-label>
                <input matInput type="text" placeholder="Enter Email" required>
            </mat-form-field>
        </div>
        <!-- Phone Number  -->
        <div>
            <mat-icon class="icon">phone</mat-icon>
            <mat-form-field class="example-full-width">
                <mat-label>
                    Phone Number
                </mat-label>
                <input matInput type="text" placeholder="Enter Phone Number" required>
            </mat-form-field>
        </div>
        <!-- Work  -->
        <div>
            <mat-icon class="icon">work</mat-icon>
            <mat-form-field class="example-full-width">
                <mat-label>
                    Work
                </mat-label>
                <input matInput type="text" placeholder="Enter Work Experience" required>
            </mat-form-field>
        </div>
    
        <!-- Sumit Button  -->
        <div>
            <button mat-raised-button color="primary">Submit</button>
        </div>
    </form>
   </mat-card-content>
        
   
</mat-card><form>
  