<div><h3>Welcome,</h3></div>
<div><h3>Smart Contact Manager</h3></div>
<mat-card>
    <mat-grid-list cols="50">
        <mat-grid-tile [colspan]="50" [rowspan]="7">
            <img src="../../../assets/img/back.jpg" style="width: 200px;height: 200px; border-radius: solid 30px;" alt="back" >
        </mat-grid-tile>
        <mat-grid-tile [colspan]="50" [rowspan]="2">
            <h3><b>Shashi Saurbh Sinha</b></h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="25" [rowspan]="2">
            <h3>UserId</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>25" </h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Username</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>shashi@gmailc.com</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Full Name</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Shashi Saurah Sinha</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Your Role</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Admin</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Your Account Status</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="25" [rowspan]="2">
            <h3>Active</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="50" [rowspan]="2">
           <button mat-raised-button color="primary">Update</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
